@media only screen and (max-width: 600px) {
    /* Dashboard Section */
    .dashboard-navbar {
        padding: 0;
        flex-direction: column;
        justify-content: center;
    }

    .email-section {
        scale: 0.8;
        margin-top: 36px;
    }

    .links-section {
        margin-top: 16px;
    }

    .tagline{
        font-size: 24px;
    }

    /* Experience & Education Section */

    #container {
        flex-direction: column-reverse;
    }

    .display-year {
        justify-content: center;
        width: 100%;
    }

    .year-container {
        height: 30%;
    }

    .coditas-data {
        height: 95%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .data-logo {
        width: 100%;
        margin-bottom: 16px;
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .data-logo-image {
        width: 100px;
        height: 100px;
    }

    .data-title-inner {
        width: 80%;
        align-items: center;
    }

    .data-heading {
        font-size: 16px;
    }

    .year-title {
        display: none;
    }

    .year-data {
        height: 90%;
    }

    .year-data-body {
        height: 100%;
    }

    .data-title {
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .data-description {
        height: 60%;
    }

    .data-heading, .data-company {
        margin-left: 0;
    }
    /* Skills */

    .skills-banner {
        width: 100%;
        height: 20%;
        background: white;
        display: flex;
        align-items: center;
        margin-top: 36px;
        overflow: scroll;
        scrollbar-width: none;
    }

    .skills-section {
        flex-direction: column;
    }

    .section-body {
        width: 100%;
    }

    .skills{
        height: auto;
    }

    .skill-icon {
        width: 50px;
        margin: 10px 10px;
    }

    /* Certifications */

    .certifications{
        display: none;
    }


    /* Contact Section */

    .contact-details-container {
        width: 100%;
    }

    .contact-title {
        font-size: 28px;
    }

    .contact-description {
        width: 80%;
        margin-top: 0;
        font-size: 14px;
    }

    .contact{
        height: 75dvh;
    }

    #exp-container{
        flex-direction: column-reverse;
    }

    .section-part{
        width: 100%;
        height: 50%;
    }

    .part1{
        justify-content: flex-start;
        align-items: center;
    }

    #past-experience{
        display: none;
    }

    .experience{
        height: 75dvh;
    }

    #exp-tagline{
        margin-top: 36px;
    }

    .exp-container{
        flex-direction: column-reverse;
    }

    .past-exp-x{
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 64px;
    }
    
    .past-exp-container-x{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .pec-part1-x, .pec-part2-x{
        width: 100%;
    }
    
    .pec-part1-x{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .pec-part2-x{
        justify-content: center;
        display: flex;
    }
    
    .pe-title-x{
        font-size: 28px;
        text-align: center;
    }
    
    .pe-line-x{
        width: 100%;
    }
    
    .pe-org-x{
        font-size: 24px;
        text-align: center;
    }
    
    .pe-duration-x{
        font-size: 20px;
        text-align: center;
    }
    
    .pe-link-x{
        display: flex;
        margin: 0px;
    }
    
    .pe-img-x{
        width: 100%;
        border-radius: 8px;
        border: 4px solid white;
    }




    .past-exp-y{
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 64px;
    }
    
    .past-exp-container-y{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .pec-part1-y, .pec-part2-y{
        width: 100%;
    }
    
    .pec-part1-y{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .pec-part2-y{
        justify-content: center;
        display: flex;
    }
    
    
    .pe-title-y{
        font-size: 28px;
        text-align: center;
        margin: 0;
    }
    
    .pe-line-y{
        width: 100%;
        margin: 0;
    }
    
    .pe-org-y{
        font-size: 24px;
        text-align: center;
        margin: 0;
    }
    
    .pe-duration-y{
        font-size: 20px;
        text-align: center;
        margin: 0;
    }
    
    .pe-link-y{
        display: block;
        display: flex;
        margin: 0px;
    }
    
    .pe-img-y{
        width: 100%;
        border-radius: 8px;
        border: 4px solid white;
    }

    .ce-title{
        font-size: 36px; 
        text-align: center;
        margin: 0;
      }
    
      .ce-line{
        width: 84%; 
        margin: 0;
      }
    
      .ce-org{
        font-size: 32px; 
        text-align: center;
        margin: 0;
      }
    
      .ce-duration{
        font-size: 24px; 
        font-weight: 400; 
        text-align: center;
        margin: 0;
      }
}